.home-header {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%; 
    z-index: 1000; 
    background-color: rgba(0, 0, 0, 0.664); 
    padding: 10px 20px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    
  }
  
  .header-nav {
    display: flex;
    gap: 15px; 
    justify-content: center; 
    flex: 1; 
  }
  
  .header-logo {
    flex: 0; 
  }
  
  .login-button-unique {
    flex: 0; 
    padding: 8px 16px;
    margin-right: 5%;
    background-color: rgba(0, 150, 135, 0);
    color: #37a088;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  