div {
  font-family: Arial, sans-serif;
}

/* Estilo para la imagen del nodo */
.node-photo {
    width: 50px;
    height: 50px;
    /* border-radius: 50%; */
}
#chart-container {
    width: 100%;
    height: 500px;
    border: 1px solid #aaa;
    overflow: auto;
    text-align: center;
  }
  
