/* General container styles */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; 
  background-color: #2d2f36; 
  color: #f5f5f5; 
}
/* Estilos para el fondo del video */
.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; 
  }
  
  .background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    transform: translate(-50%, -50%);
  }
  
  /* Overlay del contenido principal */
  .home-main {
    position: relative;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1; 
  }
  
  /* Estilos del contenido encima del video */
  .home-content {
    position: relative;
    z-index: 2; 
    text-align: center;
    background: rgba(0, 0, 0, 0);
    padding: 20px;
    border-radius: 15px;
  }
  
  /* Mantén animaciones del título */
  .home-title {
    font-size: 80px;
    font-weight: 700;
    color: #f5f5f5;
    margin: 20px 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    animation: slideIn 1.5s ease-out;
  }
  
  .home-subtitle {
    font-size: 20px;
    color: #828282;
    margin: 20px 0;
    animation: slideIn 2s ease-out;
    animation-delay: 0.5s;
  }
  
  .home-button {
    margin-top: 20px;
    background-color: #4ecca3;
    color: #1c1e26;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 20px;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .home-button:hover {
    background-color: #37a088;
    transform: scale(1.1);
  }
  
.home-container {
  text-align: center;
  margin: 0;
  padding: 0;
  min-height: 100vh; 
  background-color: #2d2f36; 
  display: flex;
  flex-direction: column;
}

/* Fixed header styles */
.home-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background-color: #1c1e26; 
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

/* Navigation links */
.header-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
  margin-right: 50px;
}

.header-nav a {
  margin: 0 10px;
  font-size: 16px;
  color: #f5f5f5; 
  white-space: nowrap;
  text-decoration: none;
  transition: color 0.3s ease;
}

.header-nav a:hover {
  color: #4ecca3; 
}

/* Login link */
.header-login {
  font-weight: bold;
  color: #4ecca3; 
}

/* Main section styles */
.home-main {
  background: url("/public/sky.mp4") no-repeat center center fixed;
  background-size: cover;
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* Agregar animación de movimiento al título */
@keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Aplicar la animación al título principal */
  .home-title {
    font-size: 80px;
    font-weight: 700;
    color: #f5f5f5; 
    margin: 20px 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
    animation: slideIn 1.5s ease-out; 
  }
  
  /* Opcional: Animación para el subtítulo */
  .home-subtitle {
    font-size: 20px;
    color: #828282; 
    margin: 20px 0;
    animation: slideIn 2s ease-out; 
    animation-delay: 0.5s;
  }
  
/* Animación personalizada para el título */
@keyframes slideAndBounce {
    0% {
      opacity: 0;
      transform: translateY(-100px);
    }
    50% {
      opacity: 1;
      transform: translateY(15px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  /* Aplicar la animación al título principal */
  .home-title {
    font-size: 80px;
    font-weight: 700;
    color: #ffffff; 
    margin: 20px 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
    animation: slideAndBounce 1.5s ease-out; 
  }
  
  /* Opcional: Animación para el subtítulo */
  .home-subtitle {
    font-size: 20px;
    color: #4ecca3; 
    margin: 20px 0;
    animation: fadeIn 2s ease-out; 
  }
  
  .home-button {
    margin-top: 20px;
    background-color: #4ecca3; 
    color: #1c1e26; 
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 20px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-decoration: none; 
  }
  
  .home-button:hover {
    background-color: #37a088;
    transform: scale(1.1); 
  }
  
/* Nature Section */
.nature-section {
  background: url("../../assets/images/nature.jpg") no-repeat center center
    fixed; 
  background-size: cover; 
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff; 
  padding: 0 20px; 
}

.nature-title {
  font-size: 48px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
  text-align: center;
  line-height: 1.5; 
  max-width: 800px; 
}

.nature-author {
  font-size: 18px; 
  font-style: italic; 
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); 
  display: inline-block; 
  margin-top: 10px; 
}

.custom-calendar {
    border: none;
    background-color: #1c1e26;
    color: #f5f5f5;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    padding: 20px;
    margin: 20px auto;
  }
  
  .react-calendar__tile--active {
    background-color: #4ecca3 !important;
    color: #1c1e26 !important;
  }
  
  .calendar-events {
    text-align: center;
    color: #f5f5f5;
  }
  



.organigrama-section {
  padding: 60px 30px;
  background: linear-gradient(
    to bottom,
    #1c1e26,
    #2d2f36
  ); 
  color: #ffffff; 
  text-align: center;
}

.organigrama-title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 40px;
  color: #4ecca3;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}


.organigrama-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: #2d2f36;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}

/* Node Structure */
.organigrama-node {
  background: linear-gradient(
    145deg,
    #292b34,
    #383a42
  ); 
  color: #ffffff; 
  border-radius: 15px;
  padding: 20px;
  width: 260px;
  text-align: center;
  border: 2px solid #4ecca3; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease,
    background-color 0.3s ease;
}

/* Hover Effect */
.organigrama-node:hover {
  background: linear-gradient(
    145deg,
    #4ecca3,
    #3a3c45
  );
  color: #1c1e26;
  transform: scale(1.05); 
  box-shadow: 0 8px 15px rgba(78, 204, 163, 0.5);
}

/* Profile Image */
.organigrama-image-container {
  width: 80px;
  height: 80px;
  margin: 0 auto 15px;
  overflow: hidden;
  border-radius: 50%;
  border: 3px solid #4ecca3; 
  background-color: #ffffff; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.organigrama-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Text */
.organigrama-name {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 5px;
  color: #4ecca3; 
}

.organigrama-position {
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff; 
  margin-bottom: 10px;
}

.organigrama-description {
  font-size: 0.9rem;
  color: #828282; 
  line-height: 1.4;
  margin-bottom: 10px;
}

/* Structure Alignment */
.organigrama-level {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  gap: 30px;
  position: relative;
}

/* Responsive Design */
@media (max-width: 768px) {
  .organigrama-level {
    flex-direction: column;
    gap: 20px;
  }

  .organigrama-node {
    width: 90%;
  }
}

.basket-section {
  background: url("../../assets/images/basket2.jpg") no-repeat center center
    fixed; 
  background-size: cover; 
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff; 
}

.basket-title {
  font-size: 48px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
  text-align: center;
  line-height: 1.5; 
}

.basket-author {
  font-size: 18px;
  font-style: italic; 
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); 
  display: inline-block; 
  margin-top: 10px; 
}
/* Botones del Header */
.header-nav {
  display: flex;
  gap: 15px; 
  margin-top: 20px; 
  justify-content: center; 
}

.header-nav button {
  background: linear-gradient(145deg, #3ea68b, #4ecca3); 
  color: #ffffff; 
  border: 2px solid transparent; 
  border-radius: 20px;
  padding: 8px 16px; 
  font-size: 14px; 
  font-weight: bold; 
  cursor: pointer;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2), 0px 1px 3px rgba(78, 204, 163, 0.5); /* Sombras combinadas */
  transition: all 0.3s ease-in-out; 
  position: relative; 
  overflow: hidden; 
  z-index: 0; 
}

.header-nav button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 300%;
  height: 100%;
  background: linear-gradient(145deg, rgba(78, 204, 163, 0.8), rgba(255, 255, 255, 0.2));
  z-index: -1;
  transform: rotate(25deg);
  transition: left 0.3s ease;
}

.header-nav button:hover::before {
  left: 0; 
}

.header-nav button:hover {
  background: linear-gradient(145deg, #37a088, #4ecca3);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3), 0px 2px 6px rgba(78, 204, 163, 0.6); 
  transform: scale(1.05); 
}

.header-nav button:active {
  background: #37a088; 
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2); 
  transform: translateY(2px); 
}

/* Responsive Design */
@media (max-width: 768px) {
  .header-nav {
    flex-wrap: wrap; 
    gap: 10px;
  }

  .header-nav button {
    font-size: 12px; 
    padding: 6px 12px; 
  }
}



/* Responsive */
@media (max-width: 768px) {
  .employee-cards,
  .event-cards {
    flex-direction: column;
    gap: 15px;
  }

  .employee-card,
  .event-card {
    width: 90%;
    margin: 0 auto;
  }
}
