.footer {
  background: linear-gradient(to bottom, #1c1e26, #2d2f36);
  color: #ffffff;
  padding: 40px 20px;
  font-family: "Arial", sans-serif;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  max-width: 1200px;
  margin: 0 auto;
}

.footer-brand h3 {
  font-family: "Georgia", serif;
  font-size: 24px;
  font-weight: bold;
  color: #4ecca3;
}

.footer-section h4 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #4ecca3;
}

.footer-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-input {
  padding: 10px;
  border: 1px solid #4ecca3;
  border-radius: 20px;
  outline: none;
  background-color: #2d2f36;
  color: #ffffff;
}

.footer-checkbox {
  display: flex;
  align-items: center;
  gap: 5px;
}

.footer-checkbox input {
  margin: 0;
}

.footer-checkbox label {
  color: #ffffff;
}

.footer-button {
  background-color: transparent;
  border: 1px solid #4ecca3;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  color: #4ecca3;
  font-weight: bold;
  transition: all 0.3s ease;
}

.footer-button:hover {
  background-color: #4ecca3;
  color: #1c1e26;
}

.footer-links,
.footer-contact {
  list-style: none;
  padding: 0;
}
.footer-links a img {
  width: 30px;
  margin: auto 10px;
  height: 30px;
}
.footer-links li a {
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s ease;
}

.footer-links li a:hover {
  color: #4ecca3;
}

.footer-contact li {
  font-size: 14px;
  margin-bottom: 5px;
  color: #ffffff;
}

.footer-bottom {
  margin-top: 20px;
  border-top: 1px solid #4ecca3;
  padding-top: 10px;
  text-align: center;
  font-size: 14px;
}

.footer-bottom a {
  text-decoration: none;
  color: #4ecca3;
}

.footer-bottom a:hover {
  color: #37a088;
}
.back-to-top {
  background-color: transparent;
  color: #4ecca3;
  border: 1px solid #4ecca3;
  padding: 8px 16px;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-transform: uppercase;
}

.back-to-top:hover {
  background-color: #4ecca3;
  color: #1c1e26;
  border-color: #37a088;
}

/* Responsividad */
@media (max-width: 768px) {
  .footer-container {
    grid-template-columns: 1fr;
    text-align: center;
  }
}
